/* importing font */
/* 
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); */
@import url("react-toastify/dist/ReactToastify.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
    --purple-color: #7754f8;
    --normal-purple-color: #a08af0;
    --purple-color-100: #a3a1aa;
    --purple-color-50: #dacffd;
    --light-purple-color: #f0edfe;
    --dark-purple: #000166;
    --light-grey-color: #a0abb6;
    --grey-color: #484d52;
    --dark-grey-color: #0c1234;
    --sidebar-color: #ffffff;
    --bg-color: #f6f7fb;
    --chat-bg-color: #e5eaf0;
    --chat-text-color: #12183a;
    --my-chat-bg-color: #12a4ed;
    --my-chat-text-color: #ffffff;
    --lemon-green: #7dd624;
    --border-color: #eeeef1;
    --yellow-color: #ecc94b;
    --green-color: #0bcf67;
    --dark-purple-300: #5641a3;
    --icon-color: #83d62d;
    --icon-color-100: #4e4e4e;
    --icon-bg-color: #e6ffe3;
    --light-box-shadow: 5px 5px 9px #e7e8ec, -5px -5px 9px #ffffff;
    --lighter-box-shadow: 5px 5px 13px #d4d4f5, -5px -5px 9px #ffffff;
    --light-red-color: #f5d6da;
    --red-color: #d63c53;
    /* main site color */
    --bg-color: #f6f7fb;
    --toast-green-bg-color: #cdfcdd;
    --toast-green-color: #2f855a;
    --home-page-bg-solid: #ddeafa;
    --bg-fed-color: #eeeef0;
    --light-grey-color-100: #858e97;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline-width: 0;
    border: none;
    font-family: "Poppins", sans-serif, "Segoe UI", Tahoma, Geneva, Verdana,
        sans-serif;
    scroll-behavior: smooth;
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: rgb(208, 222, 236) var(--bg-color); /* scroll thumb and track */
}

*::-webkit-scrollbar {
    width: 5px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
    background: var(--bg-color); /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(208, 222, 236); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 0px solid var(--bg-color); /* creates padding around scroll thumb */
}

.Toastify__toast--success {
    background-color: var(--toast-green-bg-color) !important;
    color: var(--toast-green-color) !important;
}

.Toastify__close-button > svg {
    color: var(--toast-green-color);
}

.Toastify__progress-bar {
    display: inline-flex;
    height: 4px;
    width: 100%;
    background: linear-gradient(
        to right,
        rgb(43, 224, 88) 40%,
        transparent 40%,
        rgb(49, 224, 43) 15%,
        transparent 150%
    );
    position: absolute;
    left: 0;
    bottom: 0;
    box-shadow: 0px 0px 2px #cfd6dd, 0px 0px 2px #04bfff;
}
