.messenger {
    display: grid;
    width: 100%;
    height: 100vh;
    background: var(--bg-color);

    grid-template-columns: 360px auto 360px;
    /* grid-template-rows: 60px auto 60px; */
    grid-column-gap: 1px;
    grid-row-gap: 1px;
}

.messenger.leftbar-sm {
    grid-template-columns: 70px auto 360px;
}

.container {
    padding: 10px;
}

.scrollable {
    position: relative;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background: var(--bg-color);
}

.sidebar {
    background: var(--sidebar-color);
    grid-row-start: 1;
    grid-row-end: span 3;
    background: var(--bg-color);
}

.content {
    background: inherit;
    grid-row-start: 1;
    grid-row-end: span 3;
    width: auto;
    /* background-color: red; */
}

.footer {
    grid-column-start: 2;
    background: inherit;
}

.rooms-container {
    width: 100vw;
    height: 100vh;
    background: #e2e1e1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -14px -14px 28px #e0e0e0, 14px 14px 28px #ffffff;
}

.room-tabs {
    display: flex;
}
.room-tabs button {
    flex: 1;
    padding: 1rem 1rem;
    background: var(--light-purple-color);
    color: var(--purple-color);
    font-size: 1rem;
    font-weight: 500;
}

.room-tabs button:active {
    transform: scale(1);
}

.room-tabs button[class*="active"] {
    background: var(--purple-color);
    color: var(--light-purple-color);
}

.room-here {
    width: 100vw;
    min-width: 360px;
    max-width: 500px;
    background: var(--sidebar-color);
    border-radius: 3px;
    overflow: hidden;
}

.room-card {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 1280px) {
    .messenger {
        grid-template-columns: 360px auto 0;
    }
    .messenger.leftbar-sm {
        grid-template-columns: 70px auto 0;
    }
}
